@import './config';

header {
    //position: fixed;
    z-index: 2;
    top: 0;
    width: 100%; 
    background: $secondary_color;
    max-height: 80px;

    display: flex;
    
    //font-size: 1rem;

    a:link {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
        
        &:hover{
            animation-name: nav_btn;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }
    }
    
    ul {
        padding-right: 2rem;
        padding-top: 2rem;
        @media only screen and (max-width: 768px) {
            padding-top: 0;
        }
    }
    li{
        margin-left: 2rem;
    }
    
}

.logo{
    padding-top: 1rem;
    padding-left: 1rem;
    img{
        @media only screen and (max-width: 768px) {
            height: auto;
            width: 40px;
        }   
    }
     
}


