@import './_config';
@import './_home';
@import './_header';
@import './_menu';


/**
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }**/

body{
    //position: relative;
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
    
    //width: 100vw;
    background: $primary_color;
    
}

.pb{
    background: $primary_color;
}

.sec{
    border-radius: 10px;
    width: 80%;
    margin: 2vw;
    padding: 3vw;
    background: rgb(240, 240, 239);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    @media only screen and (max-width: 768px) {
        font-size: 13px;
    }

}

#message_div{
    margin-top: 20px;
}

#message{
    width: 60vw;
    height: 40vh;
    font-size: 25px;
    @media only screen and (max-width: 468px) {
        font-size: 13px;
    }
    text-align: left;
}


.fadein {
    animation: fadeIn ease 0.8s forwards;
    
}

.email_form{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 30px;
    
}
.nice_padding{
    padding:20px 35px;

    @media only screen and (max-width: 768px) {
        padding:10px 19px;
    }
}


main{


    //position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 149px );
    
    //padding-bottom: 15rem;
    //min-height: 100vh;
    //overflow: visible;

    //margin: 0 auto;
   
}

footer {
    
   //position: absolute;
    //left: 0;
    //bottom: 0;
    width: 100%;

    


    padding-top: 1rem;
    //text-align: justify;
    background-color: $secondary_color;

    a:link {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
        
    }

    i{
        padding-left: 1rem;
        &:hover {
            transform: scale(1.4);
        }
    }
}

